<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.CourseBigTypeMapper">
  <resultMap id="BaseResultMap" type="com.imooc.bean.CourseBigType">
    <id column="cbt_id" jdbcType="INTEGER" property="cbtId" />
    <result column="cbt_type" jdbcType="VARCHAR" property="cbtType" />
  </resultMap>

  <sql id="Base_Column_List">
    cbt_id, cbt_type
  </sql>

  <select id="selectBigType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_course_big_type
  </select>



</mapper>