<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.CourseVideoMapper">
  <resultMap id="BaseResultMap" type="com.imooc.bean.CourseVideo">
    <id column="cv_id" jdbcType="INTEGER" property="cvId" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="cv_sortid" jdbcType="INTEGER" property="cvSortid" />
    <result column="cv_name" jdbcType="VARCHAR" property="cvName" />
    <result column="cv_path" jdbcType="VARCHAR" property="cvPath" />
  </resultMap>

  <sql id="Base_Column_List">
    cv_id, cid, cv_sortid, cv_name, cv_path
  </sql>

  <insert id="insert" parameterType="com.imooc.bean.CourseVideo">
    insert into t_course_video
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cvId != null">
        cv_id,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="cvSortid != null">
        cv_sortid,
      </if>
      <if test="cvName != null">
        cv_name,
      </if>
      <if test="cvPath != null">
        cv_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cvId != null">
        #{cvId,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="cvSortid != null">
        #{cvSortid,jdbcType=INTEGER},
      </if>
      <if test="cvName != null">
        #{cvName,jdbcType=VARCHAR},
      </if>
      <if test="cvPath != null">
        #{cvPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectByCid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_course_video
    where cid = #{cid,jdbcType=INTEGER}
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.imooc.bean.CourseVideo">
    update t_course_video
    <set>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="cvSortid != null">
        cv_sortid = #{cvSortid,jdbcType=INTEGER},
      </if>
      <if test="cvName != null">
        cv_name = #{cvName,jdbcType=VARCHAR},
      </if>
      <if test="cvPath != null">
        cv_path = #{cvPath,jdbcType=VARCHAR},
      </if>
    </set>
    where cv_id = #{cvId,jdbcType=INTEGER}
  </update>

  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
    <!--delete from t_course_video-->
    <!--where cv_id = #{cvId,jdbcType=INTEGER}-->
  <!--</delete>-->

</mapper>