<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.TypeCourseMapper">
<!--  <resultMap id="BaseResultMap" type="com.imooc.bean.TypeCourse">
    <id column="tc_id" jdbcType="INTEGER" property="tcId" />
    <result column="cst_id" jdbcType="INTEGER" property="cstId" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
  </resultMap>-->

  <resultMap id="BaseResultMap" type="com.imooc.bean.Course">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="cprice" jdbcType="REAL" property="cprice" />
    <result column="cintroduce" jdbcType="VARCHAR" property="cintroduce" />
    <result column="cstatus" jdbcType="VARCHAR" property="cstatus" />
    <result column="cpicture" jdbcType="VARCHAR" property="cpicture" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="checkstatus" jdbcType="VARCHAR" property="checkstatus" />
  </resultMap>

  <sql id="Base_Column_List">
    cid, cname, cprice, cintroduce, cstatus, cpicture, ctime, checkstatus
  </sql>

  <insert id="insert" parameterType="com.imooc.bean.TypeCourse">
    insert into t_type_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tcId != null">
        tc_id,
      </if>
      <if test="cstId != null">
        cst_id,
      </if>
      <if test="cid != null">
        cid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tcId != null">
        #{tcId,jdbcType=INTEGER},
      </if>
      <if test="cstId != null">
        #{cstId,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="selectByCst_id" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_course
    where cid  in
    (select cid from t_type_course where cst_id = #{cst_id,jdbcType=INTEGER})
  </select>


</mapper>